*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
}

.navbar{
  align-items: center;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(220,53,70);
  color: #fff;

}

.navigation-links a{
  margin: 1rem;
}

.brand{
  margin-right: 1rem;
}